<div class="marquee">
	<div class="inner">
	  <b>Technologists</b> – Engineers – Creators – Scientists –
	  <b>Technologists</b> – Engineers – Creators – Scientists –
	  <b>Technologists</b> – Engineers – Creators – Scientists –
	</div>
  </div>
  